<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      My Todo's
    </super-navbar-title>
  </super-navbar>

  <div class="list list-inset">
    <label class="item item-input search-text">
      <input type="text" ng-model="searchtext" placeholder="Search by Task Name">
    </label>
    <button class="button icon super-search" ng-click="search(searchtext)"></button>
  </div>
  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="todolists.length == 0">
      <li class="item item-icon-right" ng-repeat="task in todolists">
        <super-navigate location="todolist#show" data-params-id="{{ task.id }}">
          <span ng-bind="task['text']"></span>
        </super-navigate>
        <button ng-click="remove(task.id)" class="button icon super-minus-circled"></button>
      </li>
    </ul>

    <h4 ng-show="todolists.length == 0" class="assertive padding">
      No Task found. Create one?
    </h4>

    <super-modal-show location="todolist#new">
      <button class="button button-full icon-right super-plus-circled button-positive"> New Task </button>
    </super-modal-show>
  </div>
</div>
